*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    height: 100vh;
    justify-content: center;
    
}
.container{
    width:300px;
    text-align: center;
    height:250px;
    background-color: darkcyan;
    padding:10px;
    border-radius: 10PX;
    margin-top:30px;
}
.container p{
    font-weight: bolder;
    font-size: 24px;
}
.container input{
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 3px;
    border:none;
    margin-top: 20px;
    margin-bottom: 5px;
}
h2{
    margin-top: 20px;
    font-weight: 500;
}
span{
    color:azure;
    font-weight: bolder;
}
button{
    font-size: 16px;
    padding: 5px 10px;    
    margin-top: 10px;
}
